$bg-color: #ece9e1;
$main-color: #bd320f;
$alt-color: #181818;

$text-color: #bd320f;
$text-color-light: #ece9e1;
$text-color-dark: #1d2025;

$link-color: #832c17;
$link-active: #174b83;
$link-hover: #832d1794;
$link-visited: #832c17;

$btn-bg-color: #bd320f;
$btn-bg-active: #15191e;
$btn-bg-hover: #1d2025;
$btn-text-color: #ece9e1;
$btn-text-active: #ece9e1;
$btn-text-hover: #ece9e1;
$btn-border-color: #476481;
$btn-border-active: #1d2025;
$btn-border-hover: #2c3e50;

$input-bg-color: #1d2025;
$input-bg-focus: #111215;
$input-bg-hover: #15191e;
$input-text-color: #ece9e1;
$input-text-focus: #ece9e1;
$input-text-hover: #ece9e1;
$input-border-color: #2c3e50;
$input-border-focus: #2c3e50;
$input-border-hover: #2c3e50;

$placeholder-color: #78848b;
$focus-color: rgba(193, 200, 204, 0.7);
